{% extends 'base.html' %}
 
{% block content %}
{{ super() }}
<div class = "div-acceptance">
    <div>
        <form action="" class = "form-DocumentProcessing">
            <a href="{{url_for('activ_requests')}}" class = "links">Список запросы</a>
            <a href="{{url_for('addrequest')}}" class = "links">Добавить запрос</a>
        </form>
    <hr>
    </div>


    <p><h1>Список запросы</h1>
    <div class = "content_rq">
        
        <ul class="list-posts">
        {% for p in requests %}
        <li>
        <div class="title">
            <a href="{{ url_for('showRequests', id_request=p.id)}}">{{p.last_name}} {{p.first_name}} {{p.o_patronymic}}</a></label>
        </div>
        <p class="annonce">{{p.d_position}} {{p.pp}}</p>
        </li>
        {% endfor %}
        </ul>
    </div>

    {% endblock %}