{% extends 'base.html' %}
 
{% block content %}
{{ super() }}

<div class="div-acceptance">
    <div class = "form_pp_main_menu">
        <a href="{{url_for('orders')}}" class = 'links'>Добавление приказов</a>
        <a href="{{url_for('personal_accounts')}}" class = 'links'>Добавление лицевых счетов</a>
        <a href="{{url_for('listemployee')}}" class = 'links'>Список сотрудников</a>
    </div>
    <hr>
    <div><h1>Список сотрудников</h1></div>
    
<div class = "doc_show">
    <table >
        <tr class="tr_name">
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>ПП</th>
        </tr>
        

        {% for e in employee %}
        <tr class="tr_doc">
            <td>{{e.last_name}}</td>
            <td>{{e.first_name}}</td>
            <td>{{e.o_patronymic}}</td>
            <td>{{e.pp}}</td> 
        </tr>
        {% endfor %}
   
    </table>
</div>  
</div>
{% endblock %}