{% extends 'base.html' %}
 
{% block content %}

{{ super() }}
<form action="{{url_for('registration')}}" method="post" class = "form-reg">
	<div>
	<input type="text" name="login" placeholder="Имя пользователя" required />
	<input type="password" name="password1" placeholder="Пароль" required />
	<input type="password" name="password2"  placeholder="Повторите пароль" required />
	<input type="submit" id="btn" cellspasing="0" value="Зарегестрироваться">
	</div>
</form>
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
{% endblock %}